aiofiles
aiohttp
dnspython==2.1.0
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
ntgcalls
pillow==9.5.0 
psutil
py-tgcalls==1.1.6
pykeyboard
pyrofork
python-dotenv
PyYAML
requests
speedtest-cli
spotipy
yt-dlp==2023.10.13
youtube-search
youtube-search-python
numpy
git+https://github.com/ankit-chaubey/tgcrypto-fork
